<div class="row">
  <div class="col-12 col-lg-8">
    <%= form_with(url: solr_document_request_path,
                  model: request,
                  method: :post,
                  data: {
                    "form-validation-target": "form"
                  }) do |f| %>
      <%= hidden_field :request, :holdings_id %>
      <%= hidden_field :request, :item_id %>

      <div class="mb-3 row">
        <%= f.label :year, t("requesting.label.box_number"), class: "col-md-3 col-form-label text-md-right" %>
        <div class="col-sm-6">
          <%= f.text_field :year, class: "form-control", maxlength: 20, data: {"form-validation-target": "required", action: "form-validation#validate"} %>
        </div>
        <span id="year-help" class="form-text text-muted col-sm-3"><%= t("requesting.help.need_help", contact_us: "https://www.library.gov.au/services/ask-librarian").html_safe %></span>
      </div>
      <div class="mb-3 row">
        <label class="col-md-3 col-form-label text-md-right">OR</label>
      </div>
      <div class="mb-3 row">
        <%= f.label :enumeration, t("requesting.label.series_number"), class: "col-md-3 col-form-label text-md-right" %>
        <div class="col-sm-6">
          <%= f.text_field :enumeration, class: "form-control", maxlength: 80, data: {"form-validation-target": "required", action: "form-validation#validate"} %>
        </div>
        <span id="volume-help" class="form-text text-muted col-sm-3"><%= t("requesting.help.volume") %></span>
      </div>
      <div class="mb-3 row">
        <%= f.label :chronology, t("requesting.label.folder_item_number"), class: "col-md-3 col-form-label text-md-right" %>
        <div class="col-sm-6">
          <%= f.text_field :chronology, class: "form-control", maxlength: 80, data: {"form-validation-target": "required", action: "form-validation#validate"} %>
        </div>
        <span id="enumeration-help" class="form-text text-muted col-sm-3"><%= t("requesting.help.enumeration") %></span>
      </div>
      <div class="mb-3 row">
        <%= f.label :notes, t("requesting.label.notes"), class: "col-md-3 col-form-label text-md-right" %>
        <div class="col-sm-6">
          <%= f.text_area :notes, class: "form-control", maxlength: 130 %>
        </div>
        <span id="notes-help" class="form-text text-muted col-sm-3"><%= t("requesting.help.notes") %></span>
      </div>

      <div class="mb-3 row">
        <div class="offset-md-3 col-sm-6 pe-0"><%= f.submit t("requesting.btn_request"), class: "btn btn-primary", data: {action: "form-validation#validateSubmit"} %></div>
        <div class="col-sm-3"></div>
      </div>
    <% end %>
  </div>
</div>
