<div class="row">
  <div class="col-md-12">
    <%= render "search/search_form" %>
  </div>
</div>

<% if @query %>
  <div class="row bento-search-results mt-2">
    <div class="col-md-12">
      <div
        data-controller="bento-search-totals"
        data-action="bento-search-results@document->bento-search-totals#updateTotals">

        <nav class="navbar navbar-expand-lg navbar-light">
          <div id="jumpbar">
            <ul class="navbar-nav">
              <li>
                <span class="navbar-brand">Results: </span>
              </li>
              <li class="nav-item">
                <span class="nav-link">
                  <%= link_to BentoSearch.get_engine(:catalogue).configuration.title, "#catalogue" %>
                  (<span data-bento-search-totals-target="catalogue">0</span>)
                </span>
              </li>
              <li class="nav-item">
                <span class="nav-link">
                  <%= link_to BentoSearch.get_engine(:ebsco_eds_keyword).configuration.title, "#ebsco_eds_keyword" %>
                  (<span data-bento-search-totals-target="ebsco_eds_keyword">0</span>)
                </span>
              </li>
              <li class="nav-item">
                <span class="nav-link">
                  <%= link_to BentoSearch.get_engine(:ebsco_eds_title).configuration.title, "#ebsco_eds_title" %>
                  (<span data-bento-search-totals-target="ebsco_eds_title">0</span>)
                </span>
              </li>
              <li class="nav-item">
                <span class="nav-link">
                  <%= link_to BentoSearch.get_engine(:finding_aids).configuration.title, "#finding_aids" %>
                  (<span data-bento-search-totals-target="finding_aids">0</span>)
                </span>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <div class="card-columns clearfix mt-0 mb-2">
        <%= render BentoSearchResultsComponent.new("catalogue", bento_single_search_path(engine: "catalogue", q: @query)) %>
        <%= render BentoSearchResultsComponent.new("ebsco_eds_keyword", bento_single_search_path(engine: "ebsco_eds_keyword", q: @query)) %>
        <%= render BentoSearchResultsComponent.new("ebsco_eds_title", bento_single_search_path(engine: "ebsco_eds_title", q: @query, search_field: "TI")) %>
        <%= render BentoSearchResultsComponent.new("finding_aids", bento_single_search_path(engine: "finding_aids", q: @query)) %>
      </div>
    </div>
  </div>
<% end %>
