<div id="copyright-info">
  <% if info["copyrightStatus"].present? %>
    <p><strong><%= info["copyrightStatus"] %></strong></p>
  <% end %>
  <%= render partial: "copyright_info/message#{info["contextMsg"].tr(".","_")}", locals: {id: @document.id}  %>
  <% if info["copyrightStatusReason"].present? %>
    <dl class="d-flex flex-row justify-content-start">
      <dt class="pe-2">Reason for copyright status:</dt>
      <dd><%= info["copyrightStatusReason"] %></dd>
    </dl>
  <% end %>
  <p class="mb-0">Copyright status was determined using the following information:</p>
  <dl id="determination">
    <% if info["materialType"].present? %>
      <div class="d-flex flex-row justify-content-start">
        <dt class="pe-2 mb-0">Material type:</dt>
        <dd><%= info["materialType"] %></dd>
      </div>
    <% end %>

    <% if info["creatorDateOfDeath"].present? %>
      <div class="d-flex flex-row justify-content-start">
        <dt class="pe-2">Presumed date of death of creator (latest date):</dt>
        <dd><%= info["creatorDateOfDeath"] %></dd>
      </div>
    <% end %>

    <% if info["publishedStatus"].present? %>
      <div class="d-flex flex-row justify-content-start">
        <dt class="pe-2">Published status:</dt>
        <dd><%= info["publishedStatus"] %></dd>
      </div>
    <% end %>

    <% if info["creationDate"].present? %>
      <div class="d-flex flex-row justify-content-start">
        <dt class="pe-2">Creation date:</dt>
        <dd><%= info["creationDate"] %></dd>
      </div>
    <% end %>

    <% if info["publicationDate"].present? %>
      <div class="d-flex flex-row justify-content-start">
        <dt class="pe-2">Publication date:</dt>
        <dd><%= info["publicationDate"] %></dd>
      </div>
    <% end %>
  </dl>
  <p>Copyright status may not be correct if data in the record is incomplete or inaccurate.
    Other access conditions may also apply. For more information please see:
    <a href="https://www.library.gov.au/services/copyright-library-collections">Copyright in library collections</a>.</p>
</div>
