<div class="card explore">
  <div class="card-header"><h2 class="mt-2 mb-0 h4"><%= t("explore.title") %></h2></div>
  <div class="card-body">
    <ul class="list-unstyled">
      <li class="explore-link">
        <%= link_to trove_query do %>
          <%= image_tag "trove-icon.svg", width: "16", height: "16", alt: "Trove icon", aria: {hidden: true} %> <%= t("explore.find_in_trove") %>
        <% end %>
      </li>

      <li id="google-preview" class="explore-link d-none">&nbsp;</li>

      <% if render_map_search? %>
        <li id="map-search" class="explore-link">
          <%= link_to 'https://mapsearch.nla.gov.au/' do %>
            <%= image_tag "nla_logo.svg", width: "16", height: "16", alt: "National Library of Australia icon", aria: {hidden: true}, class: "explore-nla-shop-icon" %>
            <%= t("explore.map_search") %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<script>
  function showGoogleBooksPreview(booksInfo) {
    for (let i in booksInfo) {
      const book = booksInfo[i]
      if (book.preview && book.preview !== 'noview') {
        document.getElementById('google-preview').innerHTML = `<a href="${book.preview_url}"><%= image_tag "google-books.png", width: "16", height: "16", alt: "Google books logo", aria: {hidden: true} %> Preview at Google Books</a>`
        document.getElementById('google-preview').className = "explore-link"
      }
    }
  }
</script>
<% if document.valid_isbn.present? || document.lccn.present? %>
<script defer src="<%= google_books_script %>"></script>
<% end %>
