<div class="card feedback">
  <div class="card-header"><h2 class="mt-2 mb-0 h4"><%= t("feedback.title") %></h2></div>
  <div class="card-body">
    <ul class="list-unstyled">
      <li class="feedback-link">
        <%= link_to t("feedback.report_error"), helpers.error_feedback_url(@id) %>
        <%= link_to helpers.culturally_sensitive_url(@id) do %>
          <%= image_tag "message-stick.svg", width: "16", height: "16", alt: "Message stick", aria: {hidden: true} %> <%= t("feedback.culturally_sensitive") %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
