<div
  class="<%= hierarchy_class %>"
  data-controller="related-records"
  data-related-records-icon-value="<%= icon_class %>">
  <div class="image <%= icon_class %>" data-related-records-target="icon">
    <%= base_icon %>
  </div>
  <div class="hierarchy" data->
    <p><%= collection_text %></p>
  </div>
</div>
