<%= render(@layout.new(field: @field)) do |component| %>
  <% component.label do %>
    <%= label %>
  <% end %>
  <% component.value do %>
    <% if value.collection_name_label.present? %>
      <p><%= value.collection_name_label %></p>
    <% end %>
    <p class="mb-0">
    <% if value.child? && value.has_children? %>
      <%= t("collection.parent_child") %>
    <% elsif value.parent? %>
      <%= t("collection.parent")%>
    <% else %>
      <%= t("collection.child") %>
    <% end %>
    </p>

    <% if value.child? %>
      <p class="mb-0"><%= link_to t("collection.nav.up"), search_catalog_path(:'f[collection_id_ssi][]' => value.parent_id) %></p>
    <% end %>
    <% if value.child? %>
      <p class="mb-0"><%= link_to t("collection.nav.sideways"), search_catalog_path(:'f[parent_id_ssi][]' => value.parent_id) %></p>
    <% end %>
    <% if value.parent? && value.has_children? %>
      <p class="mb-0"><%= link_to t("collection.nav.down"), search_catalog_path(:'f[parent_id_ssi][]' => value.collection_id) %></p>
    <% end %>
  <% end %>
<% end %>
