<div id="request-details">
  <div class="col-12 mb-2">
    <h2 class="h3">Request this item</h2>
    <p><%= t("requesting.message") %></p>
    <div class="row">
      <div class="col-12">
        <% holdings.each do |holding| %>
          <% holding["itemRecords"].each do |item| %>
            <% if item["requestable"] %>
              <div class="holding card w-100 mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 col-sm-8">
                      <dl class="document-metadata row mb-0">
                        <% if item["pickupLocation"].present? %>
                          <dt class="col-12 col-md-12 col-lg-4">Collect From:</dt>
                          <dd class="col col-md-12 col-lg-8"><%= item["effectiveLocationDisplayName"] %></dd>
                        <% end %>

                        <dt class="col-12 col-md-12 col-lg-4">Call Number:</dt>
                        <dd class="col col-md-12 col-lg-8">
                          <p class="mb-0"><%= item["itemLevelCallNumber"] %>
                            <% if item["itemCategory"] == "monograph" && item["enumeration"].present? %>
                              <br>Copy: <%= item["enumeration"] %>
                            <% end %></p>
                        </dd>

                        <dt class="col-12 col-md-12 col-lg-4">Status:</dt>
                        <dd class="col col-md-12 col-lg-8"><%= item["status"]["name"] %></dd>

                        <% if recent_item_issue_held(holding).present? %>
                          <dt class="col-12 col-md-12 col-lg-4">Recent Items/Issues Held:</dt>
                          <dd class="col col-md-12 col-lg-8"><%= recent_item_issue_held(holding) %></dd>
                        <% end %>

                        <% if items_issues_held(holding).present? %>
                          <dt class="col-12 col-md-12 col-lg-4">Items/Issues Held:</dt>
                          <dd class="col col-md-12 col-lg-8">
                            <ul class="list-unstyled">
                              <% items_issues_held(holding).each do |issue| %>
                                <li><%= issue %></li>
                              <% end %>
                            </ul>
                          </dd>
                        <% end %>

                        <% if supplements(holding).present? %>
                          <dt class="col-12 col-md-12 col-lg-4">Supplements:</dt>
                          <dd class="col col-md-12 col-lg-8">
                            <ul class="list-unstyled">
                              <% supplements(holding).each do |supplement| %>
                                <li><%= supplement %></li>
                              <% end %>
                            </ul>
                          </dd>
                        <% end %>

                        <% if indexes(holding).present? %>
                          <dt class="col-12 col-md-12 col-lg-4">Indexes:</dt>
                          <dd class="col col-md-12 col-lg-8">
                            <ul class="list-unstyled">
                              <% indexes(holding).each do |index| %>
                                <li><%= index %></li>
                              <% end %>
                            </ul>
                          </dd>
                        <% end %>
                      </dl>
                    </div>
                    <div class="select-item-btn col-12 col-sm-4 text-right"><%= link_to "Select", "#", class: "btn btn-primary" %></div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
