<tr>
  <td><%= link_to_record %></td>
  <td><%= @request_details.pickupServicePoint %></td>
  <td><%= @request_details.request_date %> <small class="text-muted"><%= @request_details.request_time %></small></td>
  <td class="text-center align-middle">
    <%= link_to request_details_path(request_id: @request_details.requestId), data: {"blacklight-modal": "trigger", turbo: false} do %>
      <i class="fa-solid fa-circle-info"></i>
    <% end %>
  </td>
</tr>

