<div class="request-summary table-responsive">
  <table class="table table-hover table-sm mb-4">
    <caption><%= @caption %> <span class="badge badge-pill badge-secondary"><%= count %></span></caption>
    <%- if @requests.present? %>
    <thead>
    <tr>
      <th scope="col"><%= t("account.requests.table_column_headings.title") %></th>
      <th scope="col"><%= t("account.requests.table_column_headings.location") %></th>
      <th scope="col"><%= t("account.requests.table_column_headings.request_date") %></th>
      <th scope="col"><span class="sr-only"><%= t("account.requests.table_column_headings.notes") %></span></th>
    </tr>
    </thead>
    <%- end %>
    <tbody>
    <%- if @requests.present? %>
      <%= render RequestTableRowComponent.with_collection(@requests) %>
    <%- elsif @requests.blank? %>
      <tr>
        <td><%= t("account.requests.no_request_message") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
