<tr>
  <td><%= link_to_record %></td>
  <td><%= @request_details.pickupServicePoint %></td>
  <td>
    <%- if @request_details.patronComments %>
      <p><%= @request_details.patronComments %></p>
    <%- end %>
    <%- if @request_details.cancellationReason.present? %>
      <p><%= @request_details.cancellationReason %></p>
    <%- end %>
    <%- if @request_details.cancellationComment.present? %>
      <p><%= @request_details.cancellationComment %></p>
    <%- end %>
  </td>
  <td><%= @request_details.request_date %> <small class="text-muted"><%= @request_details.request_time %></small></td>
</tr>

