<div class="request-summary table-responsive">
  <%- if @requests.present? %>
    <table class="table table-hover table-sm mb-4">
      <caption><%= @caption %> <span class="badge badge-pill badge-secondary"><%= count %></span></caption>
      <thead>
      <tr>
        <th scope="col"><%= t("account.requests.table_column_headings.title") %></th>
        <th scope="col"><%= t("account.requests.table_column_headings.location") %></th>
        <th scope="col"><%= t("account.requests.table_column_headings.notes") %></th>
        <th scope="col"><%= t("account.requests.table_column_headings.request_date") %></th>
      </tr>
      </thead>
      <tbody>
      <%= render RequestTableRowComponent.with_collection(@requests) %>
      </tbody>
    </table>
  <%- else %>
    <table class="table table-hover table-sm mb-4">
      <caption><%= @caption %> <span class="badge badge-pill badge-secondary"><%= count %></span></caption>
      <tr>
        <td><%= t("account.requests.no_requests") %></td>
      </tr>
    </table>
  <% end %>
</div>
