<tr>
  <td><%= link_to_record %></td>
  <td><%= @request_details.pickupServicePoint %></td>
  <td><%= @request_details.patronComments %></td>
  <td><%= @request_details.request_date %><br><%= @request_details.request_time %></td>
</tr>
