<div class="request-summary table-responsive-md">
  <table class="table table-striped table-hover table-bordered">
    <caption><%= @caption %> (<%= count %>)</caption>
    <thead class="bg-secondary text-light">
    <tr>
      <th scope="col"><%= t("account.requests.table_column_headings.title") %></th>
      <th scope="col"><%= t("account.requests.table_column_headings.location") %></th>
      <th scope="col"><%= t("account.requests.table_column_headings.notes") %></th>
      <th scope="col"><%= t("account.requests.table_column_headings.request_date") %></th>
    </tr>
    </thead>
    <tbody>
      <%= render RequestTableRowComponent.with_collection(@requests) %>
    </tbody>
  </table>
</div>
