<dt class="col-md-3" id="<%= "#{@attribute}-label" %>"><%= @label %>:</dt>
<dd class="col-md-9 d-flex">
  <span class="flex-grow-1"><%= @value_text || "" %></span>
  <span class="text-end">
    <% if @editable %>
      <% if @attribute == "password" %>
        <%= link_to_keycloak_password_reset %>
      <% elsif @attribute == "email_2fa" %>
        <%= link_to_email_2fa %>
      <% else %>
        <%= link_to edit_link_text, [:account_profile_edit, attribute: @attribute] %>
      <% end %>
    <% end %>
  </span>
</dd>
