<div class="row">
  <div class="col-md-12">
    <% if @query %>
      <%= render "single_search/search_form" %>
    <% else %>
      <%= render "single_search/search_form" %>
      <%= render "single_search/search_options" %>
    <% end %>
  </div>
</div>

<% if @query %>
  <div class="row bento-search-results mt-2">
    <div class="col-md-12">
      <% if @total_results == 0 %>
        <div class="card">
          <div class="card-body">
            <p>Your search returned 0 results.</p>

            <%= render "single_search/search_options" %>
          </div>
        </div>
      <% end %>

      <% if @total_results > 0 %>
        <nav class="navbar navbar-expand-lg navbar-light">
          <div id="jumpbar">
            <ul class="navbar-nav">
              <li>
                <span class="navbar-brand">Results: </span>
              </li>
              <%
                @results.each do |key, result|
                  unless result.nil? || result.total_items == 0
              %>
                  <li class="nav-item">
                    <span class="nav-link"><%= link_to BentoSearch.get_engine(key).configuration.title, "##{key}" %> (<%= number_with_delimiter result.total_items %>)</span>
                  </li>
                <%
                  end
                  end
                %>
            </ul>
          </div>
        </nav>

        <div class="card-columns clearfix mt-0 mb-2">
          <%
            @results.each do |key, result|
              unless result.nil? || result.total_items == 0
          %>
              <section class="item" id="<%= key %>">
                <%= render "single_search/pane_results", key: key, result: result %>
              </section>
            <%
              end
              end
            %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
