<ul class="navbar-nav">
  <%= render_nav_actions do |config, action|%>
    <li class="nav-item"><%= action %></li>
  <% end %>
<li class="nav-item">
  <%= link_to t('Beta feedback'), 'https://ourweb.nla.gov.au/apps/wiki/display/FUS/Blacklight+-+Staff+Beta', class: 'nav-link navbar-text' %>
</li>
<% if Flipper.enabled? :authentication %>
  <% if has_user_authentication_provider? %>
    <% if current_user %>
      <li class="nav-item">
        <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path, class: 'nav-link navbar-text', method: :delete, data: { turbo_method: :delete } %>
      </li>
      <% unless current_user.to_s.blank? %>
        <li class="nav-item">
          <%= link_to current_user, root_path, class: 'nav-link' %>
        </li>
      <% end %>
    <% else %>
    <li class="nav-item">
      <%= link_to t('blacklight.header_links.login'), new_user_session_path, class: 'nav-link' %>
    </li>
    <% end %>
  <% end %>
<% end %>
</ul>
