<ul class="navbar-nav">
  <%= render_nav_actions do |config, action|%>
    <li class="nav-item"><%= action %></li>
  <% end %>
  <% if Flipper.enabled? :authentication %>
    <% if has_user_authentication_provider? %>
      <% if current_user %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if Flipper.enabled? :request_summary %>
            <%= link_to t("account.requests.menu"), account_requests_path, class: 'dropdown-item' %>
            <% end %>
            <%= render partial: "blacklight/nav/bookmark" %>
            <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path, class: 'dropdown-item', method: :delete, data: { turbo_method: :delete } %>
          </div>
        </li>
      <% else %>
      <li class="nav-item">
        <%= link_to t("blacklight.header_links.register"), "https://www.nla.gov.au/getting-started/your-national-library-card", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to t('blacklight.header_links.login'), new_user_session_path, class: "nav-link" %>
      </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
