<!DOCTYPE html>
<%= content_tag :html, class: 'no-js h-100', **html_tag_attributes do %>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Internet Explorer use the highest version available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= render_page_title %></title>
    <script>
      document.querySelector('html').classList.remove('no-js');
    </script>
    <%= opensearch_description_tag application_name, opensearch_catalog_url(format: 'xml') %>
    <%= favicon_link_tag 'favicon.ico', type: 'image/x-icon', sizes: '32x32' %>
    <%= favicon_link_tag 'favicon-32x32-light.png', type: 'image/png', sizes: '32x32', media: 'screen and (prefers-color-scheme: light)' %>
    <%= favicon_link_tag 'favicon-32x32-dark.png', type: 'image/png', sizes: '32x32', media: 'screen and (prefers-color-scheme: dark)' %>
    <%= favicon_link_tag 'favicon.svg', type: 'image/svg+xml', sizes: 'any' %>

    <%= stylesheet_link_tag "range_limit", media: "all", "data-turbo-track": "reload"  %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload"  %>
    <% if defined? Importmap %>
      <%= javascript_importmap_tags %>
    <% elsif defined? Propshaft %>
      <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <% else %>
      <%= javascript_include_tag "jquery", "data-turbo-track": "reload" %>
      <%= javascript_include_tag "blacklight/blacklight", type: 'module' %>
      <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
      <%= javascript_include_tag "blacklight_custom", "data-turbo-track": "reload", defer: true %>
      <%= javascript_include_tag "range_limit", "data-turbo-track": "reload", defer: true %>
      <%= javascript_include_tag "autocomplete_dropdown", type: 'module', "data-turbo-track": "reload" %>
      <script type="module">
        import githubAutoCompleteElement from 'https://cdn.skypack.dev/@github/auto-complete-element';
      </script>
    <% end %>

    <script src="https://kit.fontawesome.com/26bddccc03.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= content_for(:head) %>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K8KL6FF');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body class="<%= render_body_class %> d-flex flex-column h-100" data-login-url="<%= new_user_session_url %>">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8KL6FF" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <% if Rails.env.development? || Rails.env.staging? %>
    <div class="bg-warning text-dark text-center p-2">
      [ <% if Rails.env.development? %>
        DEVELOPMENT (BL 8)
      <% elsif Rails.env.staging? %>
        TEST (BL 8)
      <% end %> ]
    </div>
    <% end %>
    
    <nav id="skip-link" role="navigation" aria-label="<%= t('blacklight.skip_links.label') %>">
      <%= link_to t('blacklight.skip_links.main_content'), '#main-container', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
      <%= content_for(:skip_links) %>
    </nav>
    <%= render partial: 'shared/header_navbar' %>

    <main id="main-container" class="<%= container_classes %>" role="main" aria-label="<%= t('blacklight.main.aria.main_container') %>" tabindex="-1">
      <%= content_for(:container_header) %>

      <%= render partial: 'shared/flash_msg', layout: 'shared/flash_messages' %>

      <div class="row">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </main>

    <%= render partial: 'shared/footer' %>
    <%= render partial: 'shared/modal' %>
  </body>
<% end %>
