<%= render(@layout.new(facet_field: @facet_field)) do |component| %>
  <% component.with_label do %>
    <%= @facet_field.label %>
  <% end %>

  <% component.with_body do %>
    <div class="limit_content range_limit <%= @facet_field.key %>-config blrl-plot-config"
        data-chart-enabled="<%= !! range_config[:chart_js] %>"
        data-chart-segment-border-color="<%= range_config[:chart_segment_border_color] || '#685E57' %>"
        data-chart-segment-bg-color="<%= range_config[:chart_segment_bg_color] || '#a1d6ca' %>"
        data-textual-facets="false"
        data-textual-facets-collapsible="false"
        data-range-list-heading-localized="<%= t('blacklight.range_limit.range_list_heading') %>"
    >
      <% if @facet_field.selected_range_facet_item %>
        <%= render BlacklightRangeLimit::RangeSegmentsComponent.new(facet_field: @facet_field, facet_items: [@facet_field.selected_range_facet_item], classes: ['current', 'mb-3']) %>
      <% end %>

      <% unless @facet_field.missing_selected? %>
        <%# Chart wrapper for Chart.js histogram %>
        <div class="chart-wrapper mb-3" data-chart-wrapper="true" style="display: none; position: relative; width: 100%; aspect-ratio: <%= range_config[:chart_aspect_ratio] %>;">
        </div>

        <% if (min = @facet_field.min) && (max = @facet_field.max) %>
          <div class="distribution chart_js">
            <% if @facet_field.range_queries.any? %>
              <%= render BlacklightRangeLimit::RangeSegmentsComponent.new(facet_field: @facet_field) %>
            <% else %>
              <%= link_to(t('blacklight.range_limit.view_distribution'), load_distribution_link, class: "load_distribution", "data-loading-message-html": t('blacklight.range_limit.loading_html')) %>
            <% end %>
          </div>
        <% end %>

        <%= render BlacklightRangeLimit::RangeFormComponent.new(facet_field: @facet_field, classes: @classes) %>

        <% if range_config[:show_missing_link] && @facet_field.missing_facet_item && !request.xhr? %>
          <%= render BlacklightRangeLimit::RangeSegmentsComponent.new(facet_field: @facet_field, facet_items: [@facet_field.missing_facet_item], classes: ['missing', 'mt-3']) %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
