<%= form_tag search_action_path, method: :get, class: [@classes[:form], "range_#{@facet_field.key} d-flex justify-content-center"].join(' ') do %>
  <%= render hidden_search_state %>

  <div class="range-limit-input-group">
    <%# Dual-handle range slider %>
    <% if @facet_field.min && @facet_field.max %>
      <div class="range-slider-container mb-3"
           data-controller="range-slider"
           data-range-slider-min-value="<%= @facet_field.min %>"
           data-range-slider-max-value="<%= @facet_field.max %>">
        <div class="range-slider-track" data-range-slider-target="track">
          <div class="range-slider-range" data-range-slider-target="range"></div>
        </div>
        <input type="range"
               class="range-slider-input range-slider-min"
               min="<%= @facet_field.min %>"
               max="<%= @facet_field.max %>"
               value="<%= begin_value_default %>"
               data-range-slider-target="minSlider"
               data-action="input->range-slider#updateMin"
               aria-label="<%= t('blacklight.range_limit.range_begin_short') %>">
        <input type="range"
               class="range-slider-input range-slider-max"
               min="<%= @facet_field.min %>"
               max="<%= @facet_field.max %>"
               value="<%= end_value_default %>"
               data-range-slider-target="maxSlider"
               data-action="input->range-slider#updateMax"
               aria-label="<%= t('blacklight.range_limit.range_end_short') %>">
      </div>
    <% end %>

    <div class="d-flex justify-content-between align-items-end">
      <%= render BlacklightRangeLimit::RangeInputComponent.new(
        input_name: begin_input_name,
        input_value: begin_value_default,
        label_text: t("blacklight.range_limit.range_begin_short"),
        min_value: range_config[:min_value],
        max_value: range_config[:max_value],
        css_class: "range_begin") %>

      <%= render BlacklightRangeLimit::RangeInputComponent.new(
        input_name: end_input_name,
        input_value: end_value_default,
        label_text: t("blacklight.range_limit.range_end_short"),
        min_value: range_config[:min_value],
        max_value: range_config[:max_value],
        css_class: "range_end") %>
    </div>
    <div class="d-flex justify-content-end mt-2">
      <%= submit_tag t('blacklight.range_limit.submit_limit'), class: @classes[:submit], name: nil %>
    </div>
  </div>
<% end %>
