<% holding["itemRecords"].each do |item| %>
  <% unless item["discoverySuppress"] || has_no_physical_holdings?(item) %>
    <div class="holding card w-100 mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-sm-8">
            <dl class="document-metadata row mb-0">
              <% if item["effectiveLocationDisplayName"].present? %>
                <dt class="col-12 col-lg-4 text-lg-right"><%= t("requesting.metadata.collect_from") %></dt>
                <dd class="col-12 col-lg-8"><%= item["effectiveLocationDisplayName"] %></dd>
              <% end %>

              <% if item["holdingAvailabilityUrl"].present? %>
                <dt class="col-12 col-lg-4 text-lg-right"><%= t("requesting.metadata.delivery_conditions") %></dt>
                <dd class="col-12 col-lg-8"><%= link_to item["holdingAvailabilityUrl"], item["holdingAvailabilityUrl"] %></dd>
              <% end %>

              <dt class="col-12 col-lg-4 text-lg-right"><%= t("requesting.metadata.call_number") %></dt>
              <dd class="col-12 col-lg-8">
                <p class="mb-0"><%= item["effectiveCallNumberComponents"]["callNumber"] %>
                  <% if item["itemCategory"] == "monograph" && item["enumeration"].present? %>
                    <br>Copy: <%= item["enumeration"] %>
                  <% end %></p>
              </dd>

              <% if shelving_title(holding).present? %>
                <dt class="col-12 col-lg-4 text-lg-right"><%= t("requesting.metadata.shelving_title") %></dt>
                <dd class="col-12 col-lg-8"><%= shelving_title(holding) %></dd>
              <% end %>

              <dt class="col-12 col-lg-4 text-lg-right"><%= t("requesting.metadata.status") %></dt>
              <dd class="col-12 col-lg-8"><%= item["requestable"] ? item["displayStatus"] : "Not for loan" %></dd>

              <% if access_condition_notes(holding).present? %>
                <dt class="col-12 col-lg-4 text-lg-right"><%= t("requesting.metadata.access_conditions") %></dt>
                <dd class="col-12 col-lg-8">
                  <ul class="list-unstyled">
                    <% access_condition_notes(holding).each do |note| %>
                      <li><%= note["note"] %></li>
                    <% end %>
                  </ul>
                </dd>
              <% end %>

              <% if holding_notes(holding).present? %>
                <dt class="col-12 col-lg-4 text-lg-right"><%= t("requesting.metadata.notes") %></dt>
                <dd class="col-12 col-lg-8">
                  <ul class="list-unstyled">
                    <% holding_notes(holding).each do |note| %>
                      <li><%= note["note"] %></li>
                    <% end %>
                  </ul>
                </dd>
              <% end %>

              <% if items_issues_in_use(holding).present? %>
                <dt class="col-12 col-lg-4 text-lg-right"><%= t("requesting.metadata.items_in_use") %></dt>
                <dd class="col-12 col-lg-8">
                  <ul class="list-unstyled">
                    <% items_issues_in_use(holding).each do |statement| %>
                      <li><%= statement %></li>
                    <% end %>
                  </ul>
                </dd>
              <% end %>

              <% if item["itemCategory"] != "monograph" && items_issues_held(holding).present? %>
                <dt class="col-12 col-lg-4 text-lg-right"><%= t("requesting.metadata.items_held") %></dt>
                <dd class="col-12 col-lg-8">
                  <ul class="list-unstyled">
                    <% items_issues_held(holding).each do |statement| %>
                      <% statement.each do |issue| %>
                        <li><%= issue %></li>
                      <% end %>
                    <% end %>
                  </ul>
                </dd>
              <% end %>

              <% if supplements(holding).present? %>
                <dt class="col-12 col-lg-4 text-lg-right"><%= t("requesting.metadata.supplements") %></dt>
                <dd class="col-12 col-lg-8">
                  <ul class="list-unstyled">
                    <% supplements(holding).each do |statement| %>
                      <% statement.each do |supplement| %>
                        <li><%= supplement %></li>
                      <% end %>
                    <% end %>
                  </ul>
                </dd>
              <% end %>

              <% if indexes(holding).present? %>
                <dt class="col-12 col-lg-4 text-lg-right"><%= t("requesting.metadata.indexes") %></dt>
                <dd class="col-12 col-lg-8">
                  <ul class="list-unstyled">
                    <% indexes(holding).each do |statement| %>
                      <% statement.each do |index| %>
                        <li><%= index %></li>
                      <% end %>
                    <% end %>
                  </ul>
                </dd>
              <% end %>
            </dl>
          </div>
          <div class="select-item-btn col-12 col-sm-4 text-end">
            <%= request_item_link(item, document) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
