<%= render GlobalMessageComponent.new %>

<section class="collection-search mb-5">
  <p class="h5 mb-3"><%= t('blacklight.collection_search.description') %></p>
  <div class="collection-search-box px-4 py-5">
    <h2><%= t('blacklight.collection_search.title') %></h2>
    <%= render_search_bar  %>
  </div>
</section>
<div class="card-deck">
  <section class="card eresources-search">
    <div class="image-container"><%= image_tag "eresources.jpg", class: "card-img-top", alt: "Lady using computer" %></div>
    <div class="card-body">
      <h2 class="card-title"><%= link_to t("blacklight.eresources.title"), "https://www.nla.gov.au/eresources", class: "stretched-link" %></h2>
      <p class="card-text"><%= t('blacklight.eresources.description') %></p>
    </div>
  </section>
  <section class="card finding-aids-search">
    <div class="image-container"><%= image_tag "finding-aids.jpg", class: "card-img-top", alt: "Trolley with manuscript boxes" %></div>
    <div class="card-body">
      <h2 class="card-title"><%= link_to t("blacklight.finding_aids.title"), "/finding-aids", class: "stretched-link" %></h2>
      <p class="card-text"><%= t('blacklight.finding_aids.description') %></p>
    </div>
  </section>
</div>
<section class="library-card mt-5">
  <h2><%= t('blacklight.library_card.title') %></h2>
  <p><%= image_tag "library-cards.jpg", class: "w-100", alt: "Library cards" %></p>
  <p><%= t('blacklight.library_card.intro') %></p>
  <p><%= link_to t("blacklight.library_card.button"), "https://www.nla.gov.au/getalibrarycard/registration", class: "btn btn-outline-secondary" %></p>
  <p><%= t("blacklight.library_card.actions_header") %></p>
  <% actions = t("blacklight.library_card.actions").split("|") %>
  <ul>
    <% actions.each do |action| %>
      <li><%= action.html_safe %></li>
    <% end %>
  </ul>
</section>

<%# This is the same panel shown in the Rails welcome template %>
<% if Rails.env.development? || Rails.env.test? %>
<div id="about" class="card">
  <h6 class="card-header collapsed collapse-toggle" data-toggle="collapse" data-target="#about-content"><a href="/rails/info/properties">About this application environment</a></h6>
  <div id="about-content" class="card-body collapse"></div>
</div>
<% end %>

<script>
  Blacklight.onLoad(function() {
    $('#about .card-header').one('click', function() {
      $($(this).data('target')).load($(this).find('a').attr('href'));
    });
  });
</script>
