<%# header bar for doc items in index view -%>
<header class="documentHeader order-1 col-12 d-md-flex justify-content-md-between">
  <%# main title container for doc partial view
      How many bootstrap columns need to be reserved
      for bookmarks control depends on size.
  -%>
  <% document_actions = capture do %>
    <% # bookmark functions for items/docs -%>
    <%= render_index_doc_actions document, wrapping_class: "index-document-functions text-md-right" %>
  <% end %>
  <div class="<%= document_actions.present? ? "flex-grow-1 pr-md-3" : "" %>">
    <h3 class="index_title document-title-heading">
      <% if counter = document_counter_with_offset(document_counter) %>
        <span class="document-counter">
          <%= t('blacklight.search.documents.counter', counter: counter) %>
        </span>
      <% end %>
      <%= link_to_document document, counter: counter %>
    </h3>
  </div>

  <%= document_actions %>
</header>
