<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :barcode, "User ID" %><br />
    <%= f.text_field :barcode, autofocus: true, autocomplete: "barcode" %>
  </div>

  <div class="field">
    <%= f.label :family_name %><br />
    <%= f.password_field :family_name, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

No user ID? <%= link_to "Register", ENV["GETALIBRARYCARD_URL"] %>.<br />
