<% bento_decorate(item) do |item| %>
  <% dbid = "" %>
  <% dbid = "data-bibid=#{item.unique_id}" if is_catalogued?(item.link) %>

  <div class="bento-item clearfix mb-4 row" <%= dbid %> data-unique-id="<%= item.unique_id %>">
    <%= render :partial => "bento_search/item_title", :object => item, :as => 'item', :locals => {index: (item_counter + 1)} %>

    <% if item.engine_id == "catalogue" %>
      <turbo-frame id="<%= item.unique_id %>_thumb" src="<%= thumbnail_path(id: item.unique_id) %>" loading="lazy" class="document-thumbnail mr-4 order-2" target="_top">
        <%= render partial: "shared/thumbnail_spinner" %>
      </turbo-frame>
    <% end %>

    <div class="col">
      <dl class="document-metadata dl-invert row">
        <% if item.authors.reject(&:empty?).present? %>
          <dt class="col-12 col-md-3">Authors</dt>
          <dd class="col col-sm-9"><%= item.render_authors_list %></dd>
        <% end %>

        <% if item.custom_data[:subjects].present? %>
          <dt class="col-12 col-md-3">Subjects</dt>
          <dd class="col col-sm-9"><%= item.custom_data[:subjects] %></dd>
        <% end %>

        <% if item.abstract.present? %>
          <dt class="col-12 col-md-3">Summary</dt>
          <dd class="col col-sm-9"><%= item.render_summary %></dd>
        <% end %>

        <% if item.has_source_info? %>
          <dt class="col-12 col-md-3">Source</dt>
          <dd class="col col-sm-9"><%= item.render_source_info %></dd>
        <% end %>

        <% if item.any_present?(:publication_date, :year) %>
          <dt class="col-12 col-md-3">Published</dt>
          <dd class="col col-sm-9"><%= item.display_date %></dd>
        <% end %>

        <% if item.other_links.present? %>
          <dt class="col-12 col-md-3">Other links</dt>
          <dd class="col col-sm-9">
            <ul class="list-unstyled">
              <%= render :partial => "bento_search/link", :collection => item.other_links %>
            </ul>
          </dd>
        <% end %>

        <% if item.link_is_fulltext?.present? && item.format_str.present? %>
          <dt class="col-12 col-md-3">Format</dt>
          <dd class="col col-sm-9"><i class="fa fa-check" title="Full text" aria-hidden="true"></i> Full text <%= item.format_str.downcase %></dd>
        <% end %>

        <% if is_catalogued?(item.link) %>
          <% if item.language_str.present? %>
            <dt class="col-12 col-md-3">Language</dt>
            <dd class="col col-sm-9"><%= item.language_str %></dd>
          <% end %>

          <% if item.custom_data[:callnumber].present? %>
            <dt class="col-12 col-md-3">Call number</dt>
            <dd class="col col-sm-9"><%= item.custom_data[:callnumber] %></dd>
          <% end %>
        <% end %>

        <% item.custom_data.each do |key, value| %>
          <% unless key == :finding_aid || key == :search_link %>
            <dt class="col-12 col-md-3"><%= key %></dt>
            <dd class="col col-sm-9"><%= bento_truncate(raw(value), length: 140) %></dd>
          <% end %>
        <% end %>
      </dl>
    </div>
  </div>
<% end %>
